<h2 style="font-family: Impact; text-align: center">Sports Forum</h2>

<form method="post" action="/user/login">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="pass">Password</label>
  <input type="text" name="pass">
  <input type="submit" value="Login">
</form>

<p><a href="/signup">Not a registered user? Click here to make an account.</a></p>

