<h2>Welcome to this Sports Forum <%= @u.username %>!</h2>
<form method="post" action="/topic/create">
  <label for="topic">Create Thread:</label>
  <input type="text" name="topic">
  <input type="submit" value="Create">
</form>

<table>
  <tr>
    <th>Threads</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><a href="/topic/<%= topic.id %>"><%= topic.name %></a></td>
      <td>
        <form method="post" action="/topic/<%= topic.id %>/delete">
          <input type="submit" value="Remove">
        </form>
      </td>
  </tr>
  <% end %>
</table>


